.container {
  margin-bottom: 6rem;
  p {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  a {
    padding: 0.5rem;
    font-size: 1.6rem;
    display: block;
  }

  img {
    width: 20rem;
    border-radius: 200rem;
    box-shadow: 0 5px 2rem rgba(0, 0, 0, 0.4);
  }
}
