.container {
  margin: 10rem 0 30rem;

  h1 {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: "Bangers", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    border-bottom: 5px dashed #231411;
  }
}
